@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.popup-container {
  width: 24rem; /* 80px */
  padding: 1rem;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  text-align: center;
  border: 1px solid #e5e7eb;
}

.popup-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.popup-logo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.popup-title {
  font-size: 1.5rem; /* text-xl */
  font-weight: bold;
}

.plot-text {
  color: #50CBDE;
  font-weight: bold;
}

.bold-text {
  font-weight: bold;
}

.popup-info {
  color: black; /* gray-700 */
  font-size: 1.125rem;
}

.popup-stats {
  margin-top: 0.5rem;
  font-size: 1.125rem; /* text-lg */
}

.popup-button {
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.125rem; /* text-lg */
  font-weight: 600;
  border-radius: 0.5rem;
  background-color: #E5E7EB;
  color: black;
  border: none;
  cursor: pointer;
}

.popup-button.paused {
  background-color: #9CA3AF;
  color: #374151;
}
